.productView-variants {
    .form__label {
        display: block;
        margin: 0;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: .02em;
        line-height: 22px;
        text-transform: capitalize;
        text-align: left;
        color: #232323;
        margin-bottom: 4px;
        [data-header-option] {
            color: #969696;
            font-weight: 400;
            margin-left: 2px;
        }
    }
    .product-form__label {
        border-radius: 20px;
        position: relative;
        font-size: 0;
        width: auto;
        min-width: 40px;
        height: 40px;
        line-height: 37px;
        border: 1px solid #cbcbcb;
        background: 0 0;
        cursor: pointer;
        padding: 0 10px;
        opacity: 1;
        margin: 5px 10px 14px 0;
        &.active {
            border-color: #232323
        }
        &:hover {
            border-color: #232323
        }
        .text {
            display: block;
            font-size: 12px;
            font-weight: 400;
            text-transform: capitalize;
            color: #232323;
            text-align: center;
            transition: all ease .3s;
        }
    }
    .product-form__swatch {
        .product-form__label {
            border-radius: 50%;
            line-height: 40px;
            padding: 3px;
            margin-bottom: 3px;
            .pattern {
                display: block;
                width: 100%;
                height: 100%;
                cursor: pointer;
                border-radius: 50%;
                text-align: center;
                font-size: 0;
                letter-spacing: 0;
                position: relative;
                background-size: cover;
            }
        }
    }
}/* END: Product Varint */
.productView-rating {
    display: inline-block;
    vertical-align: bottom;
    margin-left: -2px;
    .spr-badge-starrating {
        font-size: 18px;
    }
    .spr-icon {
        &::before {
            font-family: inherit;
            font-size: 18px;
            font-style: normal;
            width: auto;
            height: auto;
            font-weight: normal;
            display: inline-block;
            text-decoration: inherit;
            text-align: center;
            font-variant: normal;
            text-transform: none;
        }
        &.spr-icon-star {
            &::before {
                content: "\2605";
                color: #232323;
            }
        }
        &.spr-icon-star-empty {
            &::before {
                content: "\2605";
                color: #c8c8c8;
            }
        }
    }
    .spr-badge-caption {
        display: inline-block;
        vertical-align: middle;
        font-size: 12px;
        font-weight: 400;
        line-height: 22px;
        color: #232323;
        margin: 0 0 0 10px;
        text-transform: capitalize;
        letter-spacing: .02em;
    }
}/* END: Product Rating */
.productView-short-desc{
    font-size: 12px;
    line-height: 24px;
    color:#3c3c3c;
    padding: 14px 0px 0px;
}/* END: Product Desc */
.productView-soldProduct {
    margin-left: 23px;
    display: inline-block;
    vertical-align: bottom;
    .text {
        display: inline-block;
        vertical-align: middle;
        font-size: 12px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: .02em;
        color: #e95144;
    }
    .icon {
        width: 18px;
        height: 18px;
        position: relative;
        top: -2px;
        fill: #e95144;
        margin-right: 7px;
    }
}/* END: Product soldProduct */
.productView-countDown {
    margin-bottom: 19px;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    letter-spacing: 0;
    text-align: left;
    .num {
        display: inline-block;
        vertical-align: middle;
        border: 1px solid #232323;
        font-size: 12px;
        text-transform: uppercase;
        border-radius: 4px;
        padding: 13px 10px 10px;
        color: #232323;
        font-weight: 600;
        border-width: 2px;
        border-color: #f0f0f0;
        background-color: transparent;
        text-align: center;
        min-width: 55px;
        line-height: 1.6;
        span {
            color: #3c3c3c;
            font-weight: 400;
            display: block;
            text-transform: capitalize;
        }
        &+.num {
            margin-left: 5px;
        }
    }
}/* END: Product Countdown */
.productView-information {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    .halo-productView-left {
        width: 100%;
        position: relative;
        margin-bottom: 30px;
        .card__badge {
            top: 0;
            &.badge-left {
                left: 0;
            }
            &.badge-right {
                right: 0;
            }
        }
        .productView-thumbnail-wrapper {
            margin: 8px 0 0;
            position: relative;
            .productView-for {
                position: relative;
                font-size: 0;
                letter-spacing: 0;
                padding: 0 35px;
            }
            .productView-thumbnail {
                padding: 0 7.5px;
                .productView-thumbnail-link {
                    display: block;
                    position: relative;
                    overflow: hidden;
                    width: 100%;
                }
            }
            .slick-current {
                .productView-thumbnail-link {
                    img {
                        opacity: .3;
                    }
                }
            }
            .slick-arrow {
                width: 30px;
                height: 30px;
                top: 50%;
                padding: 3px!important;
                border: none;
                svg {
                    width: 100%;
                    height: 100%
                }
                &:hover {
                    background: transparent;
                    svg {
                        fill: #cbcbcb;
                    }
                }
            }
        }
    }
    .halo-productView-right {
        width: 100%;
        .productView-title {
            display: block;
            font-size: 20px;
            font-weight: 600;
            text-transform: capitalize;
            letter-spacing: 0;
            color: #232323;
            margin: 0;
            line-height: 30px;
            position: relative;
            top: -7px;
            margin-bottom: 2px;
        }
    }
    .productView-info {
        margin: 13px 0px 16px;
        .productView-info-item {
            padding-bottom: 2px;
            span {
                display: inline-block;
                vertical-align: top;
                font-size: 12px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: .02em;
                color: #3c3c3c;
            }
        }
    }
    .card-price {
        justify-content: flex-start;
        margin-bottom: 23px;
        .money {
            font-size: 18px;
        }
    }
    .quantity_selector {
        margin: 7px 0px 8px;
        .quantity__label {
            display: block;
            width: 100%;
            padding: 0;
            margin: 0 0 7px;
            font-weight: 500;
        }
        .previewCartItem-qty {
            margin-top: 0;
            width: 110px;
        }
    }
    .productView-subtotal {
        margin: 8px 0px 10px;
        .text {
            color: #232323;
            font-size: 12px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: .02em;
        }
        .money {
            color: #232323;
            font-size: 13px;
            font-weight: 500;
            line-height: 23px;
        }
    }
    .productView-perks {
        margin: 18px 0px 23px;
        display: block;
        white-space: nowrap;
        overflow-x: auto;
        .link {
            display: flex;
            align-items: center;
            .icon {
                fill: #232323;
                stroke: transparent;
                margin: 0 10px 0 0;
                position: relative;
                top: -1px;
            }
            .text {
                font-size: 12px;
                font-weight: 400;
                color: #232323;
                line-height: 22px;
                letter-spacing: .02em;
                display: inline-block;
                vertical-align: middle;
            }
        }
        .productView-sizeChart {
            display: inline-block;
            vertical-align: middle;
            margin-left: 0;
            .icon {
                width: 25px;
                height: 16px;
            }
        }
        .productView-compareColor {
            margin-left: 20px;
            display: inline-block;
            vertical-align: middle;
            .icon {
                width: 18px;
                height: 18px;
            }
        }
        .productView-askAnExpert {
            margin-left: 20px;
            display: inline-block;
            vertical-align: middle;
            .icon {
                width: 21px;
                height: 21px;
            }
        }
    }
    .previewCartAction {
        .previewCartGroup {
            .previewCartGroup-top {
                width: 100%;
                display: flex;
                flex-wrap: nowrap;
                align-items: flex-end;
                justify-content: flex-start;
                padding: 0;
                .productView-action {
                    width: 100%;
                    .button {
                        padding: 14px 15px;
                    }
                }
                .productView-wishlist {
                    margin: 0 0 0 15px;
                    a {
                        display: block;
                        width: 50px;
                        height: 50px;
                        border: 1px solid #c7c7c7;
                        background-color: #ffffff;
                        text-align: center;
                        overflow: hidden;
                        padding: 12px;
                        border-radius: 50%;
                        svg {
                            width: 100%;
                            height: 100%;
                            fill: #232323;
                        }
                        &:hover {
                            // background: #e95144;
                            border-color: #e95144;
                            svg {
                                fill: #e95144;
                            }
                        }
                    }
                }
                .productView-share {
                    display: inline-block;
                    position: relative;
                    .share-button {
                        display: inline-block;
                        vertical-align: top;
                        width: auto;
                        border: none;
                        min-width: auto;
                        font-size: 0;
                        padding: 14px 0 14px 15px;
                        color: #232323;
                        background-color: #ffffff;
                        .icon {
                            width: 20px;
                            height: 20px;
                            vertical-align: top;
                        }
                        &:hover {
                            svg {
                                fill: #e95144;
                            }
                        }
                    }
                }
            }
        }
        .previewCartCheckbox {
            margin: 14px 0px 12px;
        }
    }
    .share-button__fallback {
        flex-direction: column;
        position: absolute;
        left: auto;
        right: 0;
        padding: 2rem;
        top: 100%;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        width: 300px;
        background: #ffffff;
        box-shadow: 0 3px 7px #0003;
        transition: all ease .5s;
        &.is-open {
            top: calc(100% + 15px);
            opacity: 1;
            z-index: 999;
            visibility: visible;
        }
        .share-button__close {
            position: absolute;
            top: 14px;
            right: 22px;
            font-size: 0;
        }
        .form-label {
            letter-spacing: .02em;
        }
        .share-group {
            display: flex;
            justify-content: space-between;
        }
        .form-field {
            width: calc(100% - 56px);
        }
        .button {
            width: 46px;
            margin: 0 0 0 10px;
            min-width: auto;
            align-items: flex-start;
            font-size: 0;
            svg {
                fill: #ffffff;
                height: auto;
            }
        }
    }
    .productView-more {
        display: flex;
        white-space: nowrap;
        align-items: center;
        margin-top: 15px;
        svg {
            width: 19px;
            height: 19px;
            margin: -2px 10px 0 0;
            fill: #232323;
        }
        .text {
            color: #3c3c3c;
            font-size: 12px;
            font-weight: 400;
            letter-spacing: .02em;
            line-height: 22px;
        }
    }
}/* END: Product Infomation */
.productView-pickupAvailable{
    margin: 25px 0px 0px;
    display: flex;
    flex-wrap: nowrap;
    .icon{
        position: relative;
        top: -1px;
        svg{
            margin-right: 15px;
            width: 17px;
            height: 17px;
            fill: #108043;
        }
    }
    span{
        display: block;
        font-size: 12px;
        letter-spacing: .02em;
        padding-bottom: 3px;
    }
    a{
        margin-top: 10px;
        display: block;
    }
}/* END: Product Infomation */
.productView-securityImage{
    margin: 28px 0px 20px;
    ul{
        font-size: 0;
        letter-spacing: 0;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        margin:0px;
        li{
            display: inline-block;
            vertical-align: middle;
            margin-right: 15px;
            margin-bottom: 5px;
        }
    }
}/* END: Product securityImage */
.productView-nextProducts{
    display: none;
}/* END: Product nextProducts */

.frequently-bought-together-block{
    padding-bottom: 70px;
    padding-top: 52px;
    background: #f8f8f8;
    .halo-block-header{
        margin: 0 0 30px;
        .title{
            text-align: left;
            text-transform: capitalize;
            font-weight: 600;
            font-size: 18px;
            letter-spacing: .02em;
            color: #232323;
            &:before {
                display: none;
            }
        }
    }
    .bundlePdItem{
        padding: 15px;
        background-color: #fff;
        position: relative;
        .bundle-product-content{
            padding: 20px 0 0;
            text-align: left;
            .bundle-product-checkbox{
                position: relative;
                width: 100%;
                padding-bottom: 7px;
            }
            .card-price{
                justify-content: flex-start;
                padding-bottom: 16px;
            }
            .button{
                width: 100%;
                max-width:100%;
            }
        }
        .bundle-product-options{
            max-width: 400px;
            position: absolute;
            left:0;
            transform: translate(0,-50%);
            box-shadow: 0 3px 7px #0003;
            .halo-popup-header{
                background-color: #f5f5f5;
                padding: 0px 20px;
                margin: 0;
                .halo-popup-title{
                    padding-top: 12px;
                    padding-bottom: 10px;
                    letter-spacing:.02em;
                    text-align: left;
                    font-size: 14px;
                }
                .halo-popup-close{
                    background: transparent;
                }
            }
            .halo-popup-wrapper{
                padding: 20px;
            }
        }
        &.is-open {
            .bundle-product-options {
                opacity: 1;
                visibility: visible;
                pointer-events: auto;
                z-index: 101;
                left: 15px;
            }
           
        }
    }
}/* END: Product Bundle */

@media(max-width:551px) {
    .productView-soldProduct {
        margin-left: 0;
        display: block;
        margin-top: 10px;
    }
}
@media(min-width:768px) {
    .productView-information {
        .halo-productView-left {
            width: 50%;
            margin-bottom: 0px
        }
        .halo-productView-right {
            width: 50%;
            padding-left: 30px;
        }
    }
}
@media(min-width:992px){
    .productView-securityImage{
        ul{
            li{
                margin-right: 20px;
                margin-bottom: 20px;
            }
        }
    }
}
@media(min-width:1025px){
    .productView-securityImage{
        ul{
            overflow: visible;
        }
    }
    .productView-nextProducts{
        display: block;
        position: absolute;
        right: 0;
        top: 20px;
        z-index: 999;
        .next-prev-icons{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .next-prev-icon {
                &.next-icon{
                    margin-left: 24px;
                }
                .icon{
                    width: 15px;
                    height: 15px;
                }
            } 
        }
        .next-prev-modal{
            position: absolute;
            top: calc(100% - 6px);
            left: auto;
            right: 0;
            z-index: 3;
            padding-top: 10px;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transform: translateY(15px);
            transition: transform 350ms ease;
            .next-prev-content{
                display: none;
                width: 250px;
                background:#ffffff;
                padding: 10px 10px 8px 15px;
                box-shadow: 0 3px 7px #0003;
                &.is-active{
                    display: block;
                }
            }
            .card-information{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .card-information__wrapper{
                    display: inline-block;
                    vertical-align: top;
                    width: calc(100% - 60px);
                    padding: 0 25px 0 0;
                    position: relative;
                    top: -6px;
                }
                .card-vendor{
                    margin: 0;
                    overflow: hidden;
                    a{
                        white-space: normal;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        text-overflow: ellipsis;
                        -webkit-box-orient: vertical;
                        color: #969696;
                        font-weight: 500;
                        font-size: 12px;
                        letter-spacing: .02em;
                    }
                }
                .card-title{
                    font-size: 11px;
                    color: #232323;
                    letter-spacing: .02em;
                    overflow: hidden;
                    white-space: normal;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    text-overflow: ellipsis;
                    -webkit-box-orient: vertical;
                }
                .card-price{
                    font-size: 13px;
                    margin-top: 3px;
                    color: #232323;
                    letter-spacing: .02em;
                    justify-content: flex-start;
                }
            }
            .card-media{
                display: inline-block;
                vertical-align: top;
                width: 60px;
                height: 90px;
                position: relative;
                z-index: 1
            }
            &.is-show{
                opacity: 1;
                visibility: visible;
                pointer-events: auto;
                transform: translate(0);
            }
        }
    }
}
@media(min-width:1200px) {
    .productView-information {
        .halo-productView-left {
            width: 470px;
        }
        .halo-productView-right {
            width: calc(100% - 470px);
        }
    }
}
/* END: Product Information */
.image-zoom {
    width: 100%;
    height: 100%;
    cursor: crosshair;
    img {
        max-width: 100%;
        object-fit: cover;
    }
}