/* START: Product Varint */

.productView-variants {
    .form__label {
        display: block;
        margin: 0;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: .02em;
        line-height: 22px;
        text-transform: capitalize;
        text-align: left;
        color: #232323;
        margin-bottom: 4px;
        [data-header-option] {
            color: #969696;
            font-weight: 400;
            margin-left: 2px;
        }
    }
    .product-form__label {
        border-radius: 20px;
        position: relative;
        font-size: 0;
        width: auto;
        min-width: 40px;
        height: 40px;
        line-height: 40px;
        border: 1px solid #cbcbcb;
        background: 0 0;
        cursor: pointer;
        padding: 0 10px;
        opacity: 1;
        margin: 5px 10px 14px 0;
        &.active {
            border-color: #232323
        }
        &:hover {
            border-color: #232323
        }
        .text {
            display: block;
            font-size: 12px;
            font-weight: 400;
            text-transform: capitalize;
            color: #232323;
            text-align: center;
            transition: all ease .3s;
        }
    }
    .product-form__swatch {
        .product-form__label {
            border-radius: 50%;
            padding: 3px;
            margin-bottom: 3px;
            .pattern {
                display: block;
                width: 100%;
                height: 100%;
                cursor: pointer;
                border-radius: 50%;
                text-align: center;
                font-size: 0;
                letter-spacing: 0;
                position: relative;
                background-size: cover;
            }
        }
    }
}


/* END: Product Varint */


/* START: Product Rating */

.productView-rating {
    display: inline-block;
    vertical-align: bottom;
    margin-left: -2px;
    .spr-badge-starrating {
        font-size: 18px;
    }
    .spr-icon {
        &::before {
            font-family: inherit;
            font-size: 18px;
            font-style: normal;
            width: auto;
            height: auto;
            font-weight: normal;
            display: inline-block;
            text-decoration: inherit;
            text-align: center;
            font-variant: normal;
            text-transform: none;
        }
        &.spr-icon-star {
            &::before {
                content: "\2605";
                color: #232323;
            }
        }
        &.spr-icon-star-empty {
            &::before {
                content: "\2605";
                color: #c8c8c8;
            }
        }
    }
    .spr-badge-caption {
        display: inline-block;
        vertical-align: middle;
        font-size: 12px;
        font-weight: 400;
        line-height: 22px;
        color: #232323;
        margin: 0 0 0 10px;
        text-transform: capitalize;
        letter-spacing: .02em;
    }
}

.productView-soldProduct {
    margin-left: 23px;
    display: inline-block;
    vertical-align: bottom;
    .text {
        display: inline-block;
        vertical-align: middle;
        font-size: 12px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: .02em;
        color: #e95144;
    }
    .icon {
        width: 18px;
        height: 18px;
        position: relative;
        top: -2px;
        fill: #e95144;
        margin-right: 7px;
    }
}


/* END: Product Rating */


/* START: Product Information */

.productView-information {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    .halo-productView-left {
        width: 470px;
    }
    .halo-productView-right {
        width: calc(100% - 470px);
        padding-left: 30px;
        .productView-title {
            display: block;
            font-size: 20px;
            font-weight: 600;
            text-transform: capitalize;
            letter-spacing: 0;
            color: #232323;
            margin: 0;
            line-height: 30px;
            position: relative;
            top: -7px;
            margin-bottom: 2px;
        }
    }
}


/* END: Product Information */