@charset "UTF-8";
/* START: Product Varint */
.productView-variants .form__label {
  display: block;
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 22px;
  text-transform: capitalize;
  text-align: left;
  color: #232323;
  margin-bottom: 4px;
}
.productView-variants .form__label [data-header-option] {
  color: #969696;
  font-weight: 400;
  margin-left: 2px;
}
.productView-variants .product-form__label {
  border-radius: 20px;
  position: relative;
  font-size: 0;
  width: auto;
  min-width: 40px;
  height: 40px;
  line-height: 37px;
  border: 1px solid #cbcbcb;
  background: 0 0;
  cursor: pointer;
  padding: 0 10px;
  opacity: 1;
  margin: 5px 10px 14px 0;
}
.productView-variants .product-form__label.active {
  border-color: #232323;
}
.productView-variants .product-form__label:hover {
  border-color: #232323;
}
.productView-variants .product-form__label .text {
  display: block;
  font-size: 12px;
  font-weight: 400;
  text-transform: capitalize;
  color: #232323;
  text-align: center;
  transition: all ease 0.3s;
}
.productView-variants .product-form__swatch .product-form__label {
  border-radius: 50%;
  line-height: 40px;
  padding: 3px;
  margin-bottom: 3px;
}
.productView-variants .product-form__swatch .product-form__label .pattern {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  font-size: 0;
  letter-spacing: 0;
  position: relative;
  background-size: cover;
}

/* END: Product Varint */
/* START: Product Rating */
.productView-rating {
  display: inline-block;
  vertical-align: bottom;
  margin-left: -2px;
}
.productView-rating .spr-badge-starrating {
  font-size: 18px;
}
.productView-rating .spr-icon::before {
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  width: auto;
  height: auto;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
}
.productView-rating .spr-icon.spr-icon-star::before {
  content: "★";
  color: #232323;
}
.productView-rating .spr-icon.spr-icon-star-empty::before {
  content: "★";
  color: #c8c8c8;
}
.productView-rating .spr-badge-caption {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  color: #232323;
  margin: 0 0 0 10px;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

.productView-soldProduct {
  margin-left: 23px;
  display: inline-block;
  vertical-align: bottom;
}
.productView-soldProduct .text {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #e95144;
}
.productView-soldProduct .icon {
  width: 18px;
  height: 18px;
  position: relative;
  top: -2px;
  fill: #e95144;
  margin-right: 7px;
}

/* END: Product Rating */
.productView-countDown {
  margin-bottom: 19px;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  letter-spacing: 0;
  text-align: left;
}
.productView-countDown .num {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #232323;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 13px 10px 10px;
  color: #232323;
  font-weight: 600;
  border-width: 2px;
  border-color: #f0f0f0;
  background-color: transparent;
  text-align: center;
  min-width: 55px;
  line-height: 1.6;
}
.productView-countDown .num span {
  color: #3c3c3c;
  font-weight: 400;
  display: block;
  text-transform: capitalize;
}
.productView-countDown .num + .num {
  margin-left: 5px;
}

/* START: Product Infomation */
.productView-information {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.productView-information .halo-productView-left {
  width: 100%;
  position: relative;
  margin-bottom: 30px;
}
.productView-information .halo-productView-left .card__badge {
  top: 0;
}
.productView-information .halo-productView-left .card__badge.badge-left {
  left: 0;
}
.productView-information .halo-productView-left .card__badge.badge-right {
  right: 0;
}
.productView-information .halo-productView-left .productView-thumbnail-wrapper {
  margin: 8px 0 0;
  position: relative;
}
.productView-information .halo-productView-left .productView-thumbnail-wrapper .productView-for {
  position: relative;
  font-size: 0;
  letter-spacing: 0;
  padding: 0 35px;
}
.productView-information .halo-productView-left .productView-thumbnail-wrapper .productView-thumbnail {
  padding: 0 7.5px;
}
.productView-information .halo-productView-left .productView-thumbnail-wrapper .productView-thumbnail .productView-thumbnail-link {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.productView-information .halo-productView-left .productView-thumbnail-wrapper .slick-current .productView-thumbnail-link img {
  opacity: 0.3;
}
.productView-information .halo-productView-left .productView-thumbnail-wrapper .slick-arrow {
  width: 30px;
  height: 30px;
  top: 50%;
  padding: 3px !important;
  border: none;
}
.productView-information .halo-productView-left .productView-thumbnail-wrapper .slick-arrow svg {
  width: 100%;
  height: 100%;
}
.productView-information .halo-productView-left .productView-thumbnail-wrapper .slick-arrow:hover {
  background: transparent;
}
.productView-information .halo-productView-left .productView-thumbnail-wrapper .slick-arrow:hover svg {
  fill: #cbcbcb;
}
.productView-information .halo-productView-right {
  width: 100%;
}
.productView-information .halo-productView-right .productView-title {
  display: block;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 0;
  color: #232323;
  margin: 0;
  line-height: 30px;
  position: relative;
  top: -7px;
  margin-bottom: 2px;
}
.productView-information .productView-info {
  margin: 14px 0px 15px;
}
.productView-information .productView-info .productView-info-item {
  padding-bottom: 2px;
}
.productView-information .productView-info .productView-info-item span {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #3c3c3c;
}
.productView-information .card-price {
  justify-content: flex-start;
  margin-bottom: 23px;
}
.productView-information .card-price .money {
  font-size: 18px;
}
.productView-information .quantity_selector {
  margin: 7px 0px 8px;
}
.productView-information .quantity_selector .quantity__label {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0 0 7px;
  font-weight: 500;
}
.productView-information .quantity_selector .previewCartItem-qty {
  margin-top: 0;
  width: 110px;
}
.productView-information .productView-subtotal {
  margin: 8px 0px 10px;
}
.productView-information .productView-subtotal .text {
  color: #232323;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.02em;
}
.productView-information .productView-subtotal .money {
  color: #232323;
  font-size: 13px;
  font-weight: 500;
  line-height: 23px;
}
.productView-information .productView-perks {
  margin: 18px 0px 23px;
  display: block;
  white-space: nowrap;
  overflow-x: auto;
}
.productView-information .productView-perks .link {
  display: flex;
  align-items: center;
}
.productView-information .productView-perks .link .icon {
  fill: #232323;
  stroke: transparent;
  margin: 0 10px 0 0;
  position: relative;
  top: -1px;
}
.productView-information .productView-perks .link .text {
  font-size: 12px;
  font-weight: 400;
  color: #232323;
  line-height: 22px;
  letter-spacing: 0.02em;
  display: inline-block;
  vertical-align: middle;
}
.productView-information .productView-perks .productView-sizeChart {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0;
}
.productView-information .productView-perks .productView-sizeChart .icon {
  width: 25px;
  height: 16px;
}
.productView-information .productView-perks .productView-compareColor {
  margin-left: 20px;
  display: inline-block;
  vertical-align: middle;
}
.productView-information .productView-perks .productView-compareColor .icon {
  width: 18px;
  height: 18px;
}
.productView-information .productView-perks .productView-askAnExpert {
  margin-left: 20px;
  display: inline-block;
  vertical-align: middle;
}
.productView-information .productView-perks .productView-askAnExpert .icon {
  width: 21px;
  height: 21px;
}
.productView-information .previewCartAction .previewCartGroup .previewCartGroup-top {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0;
}
.productView-information .previewCartAction .previewCartGroup .previewCartGroup-top .productView-action {
  width: 100%;
}
.productView-information .previewCartAction .previewCartGroup .previewCartGroup-top .productView-action .button {
  padding: 14px 15px;
}
.productView-information .previewCartAction .previewCartGroup .previewCartGroup-top .productView-wishlist {
  margin: 0 0 0 15px;
}
.productView-information .previewCartAction .previewCartGroup .previewCartGroup-top .productView-wishlist a {
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid #c7c7c7;
  background-color: #ffffff;
  text-align: center;
  overflow: hidden;
  padding: 12px;
  border-radius: 50%;
}
.productView-information .previewCartAction .previewCartGroup .previewCartGroup-top .productView-wishlist a svg {
  width: 100%;
  height: 100%;
  fill: #232323;
}
.productView-information .previewCartAction .previewCartGroup .previewCartGroup-top .productView-wishlist a:hover {
  border-color: #e95144;
}
.productView-information .previewCartAction .previewCartGroup .previewCartGroup-top .productView-wishlist a:hover svg {
  fill: #e95144;
}
.productView-information .previewCartAction .previewCartGroup .previewCartGroup-top .productView-share {
  display: inline-block;
  position: relative;
}
.productView-information .previewCartAction .previewCartGroup .previewCartGroup-top .productView-share .share-button {
  display: inline-block;
  vertical-align: top;
  width: auto;
  border: none;
  min-width: auto;
  font-size: 0;
  padding: 14px 0 14px 15px;
  color: #232323;
  background-color: #ffffff;
}
.productView-information .previewCartAction .previewCartGroup .previewCartGroup-top .productView-share .share-button .icon {
  width: 20px;
  height: 20px;
  vertical-align: top;
}
.productView-information .previewCartAction .previewCartGroup .previewCartGroup-top .productView-share .share-button:hover svg {
  fill: #e95144;
}
.productView-information .previewCartAction .previewCartCheckbox {
  margin: 14px 0px 12px;
}
.productView-information .share-button__fallback {
  flex-direction: column;
  position: absolute;
  left: auto;
  right: 0;
  padding: 2rem;
  top: 100%;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  width: 300px;
  background: #ffffff;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
  transition: all ease 0.5s;
}
.productView-information .share-button__fallback.is-open {
  top: calc(100% + 15px);
  opacity: 1;
  z-index: 999;
  visibility: visible;
}
.productView-information .share-button__fallback .share-button__close {
  position: absolute;
  top: 14px;
  right: 22px;
  font-size: 0;
}
.productView-information .share-button__fallback .form-label {
  letter-spacing: 0.02em;
}
.productView-information .share-button__fallback .share-group {
  display: flex;
  justify-content: space-between;
}
.productView-information .share-button__fallback .form-field {
  width: calc(100% - 56px);
}
.productView-information .share-button__fallback .button {
  width: 46px;
  margin: 0 0 0 10px;
  min-width: auto;
  align-items: flex-start;
  font-size: 0;
}
.productView-information .share-button__fallback .button svg {
  fill: #ffffff;
  height: auto;
}
.productView-information .productView-more {
  display: flex;
  white-space: nowrap;
  align-items: center;
  margin-top: 15px;
}
.productView-information .productView-more svg {
  width: 19px;
  height: 19px;
  margin: -2px 10px 0 0;
  fill: #232323;
}
.productView-information .productView-more .text {
  color: #3c3c3c;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 22px;
}

@media (max-width: 551px) {
  .productView-soldProduct {
    margin-left: 0;
    display: block;
    margin-top: 10px;
  }
}
@media (min-width: 768px) {
  .productView-information .halo-productView-left {
    width: 50%;
    margin-bottom: 0px;
  }
  .productView-information .halo-productView-right {
    width: 50%;
    padding-left: 30px;
  }
}
@media (min-width: 1200px) {
  .productView-information .halo-productView-left {
    width: 470px;
  }
  .productView-information .halo-productView-right {
    width: calc(100% - 470px);
  }
}
/* END: Product Information */
.image-zoom {
  width: 100%;
  height: 100%;
  cursor: crosshair;
}
.image-zoom img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=component-product.css.map */