.product-card .product-card-top {
  position: relative;
}
.product-card .product-card-top .product-card-media img + img {
  opacity: 0;
}
.product-card .product-card-top .product-card-media:hover img + img {
  opacity: 1;
  transition: opacity 0.5s, transform 2s cubic-bezier(0, 0, 0.44, 1.18);
}
.product-card .product-card-bottom {
  padding: 13px 0px 10px;
}
.product-card .product-card-information .card-vendor {
  overflow: hidden;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  font-size: 12px;
  font-weight: 400;
  color: #969696;
  line-height: 22px;
  letter-spacing: 0.02em;
  width: 100%;
  margin-bottom: 0;
}
.product-card .product-card-information .card-vendor a {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}
.product-card .product-card-information .card-title {
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #232323;
  display: block;
  overflow: hidden;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}
.product-card .card-swatch {
  display: flex;
  justify-content: center;
  margin: 14px 0px 0px;
}
.product-card .card-swatch .swatch {
  display: block;
  width: 100%;
  position: relative;
}
.product-card .card-swatch .item {
  display: inline-block;
  vertical-align: top;
  margin: 0 1.5px;
  position: relative;
}
.product-card .card-swatch .item:first-child {
  margin-left: 0;
}
.product-card .card-swatch .swatch-label {
  display: block;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  font-size: 0;
  letter-spacing: 0;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  border: 1px solid #cbcbcb;
  background: transparent;
  cursor: pointer;
  padding: 2px;
}
.product-card .card-swatch .swatch-label .pattern {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.product-card .card-swatch .swatch-label:hover {
  border-color: #232323;
}
.product-card .card-product__group {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  position: absolute;
  z-index: 10;
  transition: all ease 0.5s;
  top: 10px;
  display: flex;
  flex-direction: column;
}
.product-card .card-product__group.group-right {
  left: auto;
  right: 0px;
}
.product-card .card-product__group.group-left {
  left: 0px;
}
.product-card .card-product__group .card-icon {
  display: block;
  text-align: center;
  position: relative;
  width: 36px;
  height: 36px;
  padding: 9px;
  line-height: 1;
  border-radius: 50%;
  font-size: 0;
  letter-spacing: 0;
  cursor: pointer;
  color: #232323;
  background: #ffffff;
}
.product-card .card-product__group .card-icon .text {
  padding: 0 15px 0 30px;
  color: #232323;
  background-color: #ffffff;
  text-transform: capitalize;
  display: none;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  width: 0;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  right: calc(100% - 30px);
  height: 36px;
  background: #ffffff;
  line-height: 36px;
  position: absolute;
  top: 50%;
  padding: 0 30px 0 15px;
  border-radius: 36px;
  transform: translateY(-50%);
  transition: all ease 0.3s;
  transition-duration: 350ms;
  pointer-events: none;
}
.product-card .card-product__group .card-icon.wishlist-added {
  background: #232323;
}
.product-card .card-product__group .card-icon.wishlist-added .text {
  background: #232323;
  color: #ffffff;
}
.product-card .card-product__group .card-icon.wishlist-added svg {
  fill: #ffffff;
}
.product-card .card-product__group .card-product__group-item svg {
  width: 18px;
  height: 18px;
  line-height: 18px;
  vertical-align: top;
  position: relative;
  z-index: 5;
  background-color: transparent;
}
.product-card .card-product__group .card-product__group-item + .card-product__group-item {
  margin-top: 10px;
}
.product-card .card-action {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 0;
  background: transparent;
  z-index: 1;
  margin: 0;
  transition: all ease 0.5s;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translate(0);
}
.product-card .card-action .button {
  background: #ffffff;
  color: #232323;
  border-color: #232323;
  width: 100%;
  min-width: auto;
}

.card-price {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.card-price .price-item .money {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  color: #232323;
}
.card-price.price__sale .price-item--regular {
  margin: 0 10px 0 0;
}
.card-price.price__sale .price-item--regular span {
  text-decoration: line-through;
  font-weight: 400;
  color: #969696;
}
.card-price.price__sale .price__last span {
  color: #e95144;
}

.card__badge {
  position: absolute;
  top: 10px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}
.card__badge .badge {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 20px;
  height: auto;
  padding: 0 8px;
  text-align: center;
  word-break: break-word;
  border-radius: 1px;
  text-transform: capitalize;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.card__badge .badge.custom-badge {
  color: #ffffff;
  background-color: #ffbb49;
}
.card__badge .badge.sale-badge {
  color: #ffffff;
  background-color: #e95144;
}
.card__badge .badge.sold-out-badge {
  color: #ffffff;
  background-color: #c1c1c1;
}
.card__badge .badge + .badge {
  margin-top: 5px;
}
.card__badge.badge-left {
  left: 10px;
}
.card__badge.badge-right {
  right: 10px;
}

.product-item-custom .product-card-top {
  display: inline-block;
  vertical-align: top;
  width: 80px;
  height: 107px;
}
.product-item-custom .product-card-bottom {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 90px);
  padding: 0 25px 0 16px;
  position: relative;
  top: -6px;
}
.product-item-custom .product-card-bottom .product-card-information .card-price {
  justify-content: start;
}
.product-item-custom .product-card-bottom .product-card-information .card-swatch {
  text-align: left !important;
}
.product-item-custom .product-card-bottom .product-card-information .card-swatch .swatch {
  margin-bottom: 13px;
}

@media (max-width: 1024px) {
  .product-card .card-product__group.group-right {
    right: 10px;
    display: none;
  }
}
@media (min-width: 1025px) {
  .product-card .card-product__group {
    opacity: 0;
    visibility: hidden;
  }
  .product-card .card-product__group .card-product__group-item .card-icon:hover .text {
    left: auto;
    right: calc(100% - 30px);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    display: inline-block;
    width: auto;
  }
  .product-card .card-action {
    position: absolute;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    bottom: -15px;
  }
  .product-card .card-action .button:hover {
    background: #232323;
    color: #ffffff;
  }
  .product-card:hover .card-product__group {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    right: 10px;
  }
  .product-card:hover .card-product__group.group-left {
    left: 10px;
  }
  .product-card:hover .card-action {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    bottom: 0;
  }
}/*# sourceMappingURL=component-card.css.map */