.blog-template-default{
    .halo-blog-content{
        .article-title{
            font-size: 18px;
            line-height: 28px;
            color: #232323;
            font-weight: 600;
            margin-bottom: 6px;
            span{
                text-underline-offset: 0.4rem;
            }
        }
        .blog_author{
            font-size: 12px;
            line-height: 22px;
            color: #999999;
            margin-bottom: 30px;
            letter-spacing:.02em;
            .blog-comment{
                color: #999999;
                text-transform: capitalize;
                margin-left: 8px;
                letter-spacing:.02em;
            }
        }
        .article-details{
            .article-img{
                margin-bottom: 30px;
            }
            .desc{
                margin-bottom: 26px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
            }
            .actions{
                .button{
                    width:100%;
                    max-width:168px;
                }
            }
        }
        .list-blog{
            position: relative;
            top:-4px;
            .blog-item{
                margin-bottom: 45px;
                &+.blog-item{
                    border-top: 1px solid #E6E6E5;
                    padding-top: 40px;
                }
                &:last-child{
                    margin-bottom: 40px;
                }
            }
        }
        .pagination{
            border-top: 1px solid #e6e6e6;
            padding-top: 35px;
        }
        
    }
}