.halo-accept-cookie-popup {
    position: fixed;
    bottom: 15px;
    left: 15px;
    width: 100%;
    max-width: 370px;
    height: 124px;  
    background: rgba(20, 20, 20, 0.9);
    padding: 10px 15px;
    z-index: 99;
    &.is-hidden {
        opacity: 0;
        bottom: 45px;
        transition: all ease .7s;
    }
    .desc {
        color: #ffffff;
        line-height: 24px;
    }
    .group-action-links {
        text-align: right;
        padding-top: 10px;
        .notification {
            color: #818181;
            line-height: 22px;
            font-weight: 400;
            &:hover {
                color: #ffffff;
            }
        }
        .accept {
            margin-left: 10px;
            font-weight: 600;
            color: #ffffff;
        }
    } 
} 
@media (max-width: 1023px) {
    .halo-accept-cookie-popup { 
        bottom:83px;
    }
}

@media (max-width: 551px) {
    .halo-accept-cookie-popup { 
        max-width: 100%;
        bottom: 67px;
        left: 0;
        text-align:center;
        .desc {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
        .group-action-links {
            text-align:center;
        }
    }
}