@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.skin-9{
    font-family: 'Jost', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    .desc,
    .link{
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0;
    }
    .button{
        padding: 14px 15px 14px;
        letter-spacing: 0;
        font-size: 15px;
        font-weight: 600;
        border-radius: 3px;
        &.button-1{
            background: #000000;
            border-color:#000000;
            color: #ffffff;
            &:hover{
                background: #ffffff;
                border-color:#000000;
                color: #000000;
            }
        }
        &.button-2{
            background: #ffffff;
            border-color:#000000;
            color: #000000;
            &:hover{
                background: #000000;
                border-color:#000000;
                color: #ffffff;
            }
        }
    }
    .slick-dots{
        position: absolute;
        bottom: -60px;
        li{
            button{
                border: 1px solid #000000;
                background: transparent;
            }
            &.slick-active{
                button{
                    border: 1px solid #000000;
                    background: #000000;
                }
            }
        }
    }
    .halo-block-header{
        position: relative;
        .title{
            font-size: 24px;
            font-weight: 700;
            letter-spacing: 0;
            color: #000000;
            &::before{
                display: none;
            }
            span{
                width: 100%;
                background: transparent;
            }
        }
        .view_all{
            font-size: 15px;
            color:#000000;
        }
    }
}

@media(min-width: 552px){
    .halo-block-header{
        .view_all{
            position: absolute;
            right: 0;
            top: 10px;
            z-index: 9;
        }
    }
}

@media(min-width:768px){
    .skin-9{
        .halo-block-header {
            margin-bottom: 60px;
        }
    }
}
