@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.skin-7{
    font-size:14px;
    font-family: 'Rubik', sans-serif;
    line-height: 26px;
    letter-spacing: 0;
    color:#232323;
    .desc{
        font-size:14px;
        line-height: 26px;
        letter-spacing:0;
        color:#232323;
    }
    .link{
        font-size: 14px;
    }
    .button{
        font-size: 16px;
        letter-spacing: 0;
        line-height: normal;
        border-radius: 4px;
        padding: 15px 15px 14px;
        &.button-1{
            background-color: #f84248;
            border-color: #f84248;
            color: #ffffff;
            &:hover{
                background-color: #ffffff;
                border-color: #f84248;
                color: #f84248;
            }
        }
        &.button-2{
            background-color: #ffffff;
            border-color: #f84248;
            color: #f84248;
            &:hover{
                background-color: #f84248;
                border-color: #f84248;
                color: #ffffff;
            }
        }
    }
    .slick-arrow{
        border: 1px solid #dcdcdc;
        color:#323232;
        background:#ffffff!important;
        svg{
            fill:#323232;
            top: -6px;
        }
    }
    .slick-dots{
        position: absolute;
        bottom: -45px;
    }
    .halo-block-header{
        margin-bottom: 34px;
        .title{
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 0;
            color:#232323;
            text-transform: uppercase;
            &:before{
                display: none;
            }
        }
    }
    .product-card{
        .card-price{
            justify-content: flex-start;
        }
        .card-vendor {
            font-size:14px;
            font-weight:700;
            letter-spacing: 0;
            color:#232323;
            padding-bottom: 3px;
        }
        .card-title{
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0;
            padding-bottom: 4px;
        }
        .card-price{
            .money{
                font-size:16px;
                line-height: 22px;
                font-weight: 500;
            }
        }
        .card-swatch{
            margin: 14px 0px 0px;
        }
    }

}