.page-header {
  padding-top: 15px;
  padding-bottom: 27px;
}

.page-header {
  display: block;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  line-height: 20px;
  letter-spacing: .05em;
  color: #232323;
  position: relative;
  margin: 0;
}

.faqs-message-and-questions {
  margin-top: 45px;
}

.faqs-title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #69c69c;
}

.faqs-message {
  width: 100%;
}

.faqs-message .desc {
  margin-top: 27px;
}

.faqs-message .faqs-icon-container {
  margin-top: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 100%;
  min-height: 110px;
  border-radius: 0.5rem;
  border: 2px solid #fafafa;
}

.faqs-message .faqs-icon-container .message-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 25px;
  row-gap: 6px;
  height: 52px;
}

.faqs-message .faqs-icon-container .message-icon-1 + .message-icon-2 {
  border-left: 1px solid #232323;
}

h3.title-technical {
  margin-top: 55px;
}

.faqs-title {
  margin-bottom: 28px;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-bottom: 7px;
}

.page-subheader {
  display: block;
  font-size: calc(24px - 6px);
  font-weight: 600;
  letter-spacing: .02em;
  line-height: calc(24px + 2px);
  position: relative;
  color: #232323;
  margin: 0;
}

.faqs-body {
  margin-top: 15px;
}

.faqs-item {
  margin-top: 15px;
  background-color: #fafafa;
  padding-bottom: 20px;
  cursor: pointer;
}

.faqs-item .faqs-heading {
  display: inline-block;
  position: relative;
  width: 100%;
  top: 10px;
  font-size: 14px;
  line-height: 24px;
  color: #232323;
  font-weight: 600;
}

.faqs-item .faqs-heading .text {
  padding: 15px 135px 15px 30px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.faqs-item .arrow {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  top: 50%;
  right: 15px;
  width: 11px;
  height: 11px;
  z-index: 2;
  pointer-events: none;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  border: solid #232323;
  border-width: 0px 2px 2px 0px;
  padding: 3px;
  -webkit-transition: all ease .35s;
  transition: all ease .35s;
}

.faqs-item .icon-plus {
  right: 32px;
}

.faqs-item .desc-demo {
  position: relative;
  top: 25px;
  border-top: 1px solid #232323;
  width: 100%;
  padding: 25px 0 50px 0;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: .02em;
  color: #3c3c3c;
}

.faqs-item .desc-demo .list-item:first-child {
  margin-top: 18px;
}

.faqs-item .desc-demo .list-item {
  margin-top: 17px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 11px;
}

.faqs-item .desc-demo .list-item .list-circle-container {
  height: 100%;
  width: 7px;
  margin: 0;
  padding: 0;
}

.faqs-item .desc-demo .list-item .list-circle-container .list-circle:empty {
  display: inline-block;
}

.faqs-item .desc-demo .list-item .list-circle-container .list-circle {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #232323;
}

.faqs-item .desc-demo .list-item .a-color {
  color: #0688E2;
}

.faqs-item:not(.collapsed) .arrow {
  -webkit-transform: translateY(-50%) rotate(-135deg);
          transform: translateY(-50%) rotate(-135deg);
}

.box-desc {
  padding: 0 30px;
}

.button-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 50px 0 100px 0;
}

.button-contact a.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  letter-spacing: .05em;
  width: 245px;
  height: 46px;
  background: #ef6454;
  color: white;
}

.button-contact .btn-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  letter-spacing: .02em;
  height: 46px;
  padding-right: 20px;
}

@media (max-width: 768px) {
  .faqs-message {
    margin-bottom: 35px;
  }
  .faqs-message-and-questions {
    margin-top: 25px;
  }
  .faqs-item .icon-plus {
    right: 10px;
  }
  .faqs-item .faqs-heading .text {
    padding: 15px 30px 15px 15px;
  }
  .button-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
  }
}

@media (min-width: 767px) {
  .faqs-message {
    max-width: 300px;
  }
}
/*# sourceMappingURL=faqs.css.map */