
@keyframes box-shadow {
    0%,
    100% {
        -webkit-box-shadow: 0 0 0 0;
        -moz-box-shadow: 0 0 0 0;
        box-shadow: 0 0 0 0
    }

    50% {
        -webkit-box-shadow: 0 0 0 4px;
        -moz-box-shadow: 0 0 0 4px;
        box-shadow: 0 0 0 4px
    }
}

.lookbook-page {
    .slick-arrow.slick-prev {
        left: -77px;
    }
    .slick-arrow.slick-next {
        right: -77px;
    }
    .slick-arrow {
        width: 60px;
        height: 60px;   
        border: none;
    }
    .slick-arrow:hover {
        background-color: #ffffff;
    }
    .slick-arrow:hover svg {
        fill: #232323;
        color: #ffffff;
    }
    .wrapper-content {
        .item-lookbook {
            .image-mobile {
                display: none;
            }
            .icon-banner {
                position: absolute;
                z-index: 2;
                &::before {
                    animation: box-shadow 1.5s linear infinite;
                    content: "";
                    width: 27px;
                    height: 27px;
                    position: absolute;
                    border-radius: 50%;
                    left: 0;
                    top: 0;
                    color: rgba(35, 35, 35, 0.3);
                }
                .item-icon {
                    width: 27px;
                    height: 27px;
                    display: block;
                    border-radius: 50%;
                    position: relative;
                    cursor: pointer;
                    transition: all ease .3s;
                    background-color: #232323;
                    &::before,
                    &::after {
                        position: absolute;
                        content: "";
                        background-color: #ffffff;
                    }
                    &::before{
                        width: 12px;
                        height: 2px;
                        top: 13px;
                        left: 7px;
                    }
                    &::after {
                        width: 2px;
                        height: 12px;
                        top: 8px;
                        left: 12px;
                    }
                }
            }
            .popup-lookbook-mb{
                opacity: 0;
            }
            .popup-lookbook {
                opacity: 0;
                display:flex;
                flex-direction: column;
                position: absolute;
                z-index: 11;
                width: 100%;
                max-width:210px;
                &.open {
                    opacity: 1;
                }
                .pupop-top {
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .icon-close-popup {
                    position: absolute;
                    top: 10px;
                    right: 13px;
                    width: 18px;
                    height: 18px;
                    cursor: pointer;
                    z-index: 9;
                    svg {
                        width:100%;
                        height: 100%;
                        fill: #232323;
                    }
                }
                .content-popup {
                    padding:20px;
                    background-color: #ffffff;
                    .title {
                        font-size:12px;
                        color: #969696;
                        letter-spacing: .02em;
                        font-weight:400;
                    }
                    .desc {
                        line-height: 22px;
                        letter-spacing: .02em;
                        color: #232323;
                        font-weight: 500;
                    }
                    .price {
                        font-size:14px;
                        font-weight:600;
                        color: #232323;
                        line-height: 25px;
                        padding: 4px 0 12px 0;
                    }
                    .button-2 {
                        width:100%;
                        text-align: center;
                        cursor: pointer;
                    }
                    .button {
                        padding:10px;
                    }
                }
            }
            .wrapper-popup {
                position: absolute;
                top: 19%;
                right: 35%;
                z-index: 12;
            }
        }
       
        

    }
    .text-blocks {
        .list-social {
            text-align: center;
            ul{
                margin: 0;
                padding: 18px 0px 28px;
            }
            .list-social__item {
                padding-left:18px;
                svg {
                    width: 26px;
                    height: 26px;
                }
                &:nth-child(1){
                    padding-left: 0;
                }
            }
        }
        .button-lk {
            text-align: center;
            .button-bottom-lookbook {
                width: 100%;
                max-width:320px;
                text-align: center;
            }
        }
    }
}


@media (max-width: 1024px) {
    .lookbook-page {
        .slick-dots {
            position: absolute;
            bottom: 17%; 
            button {
                border: 1px solid #ffffff;
                background: #ffffff;
                width:14px;
                height: 14px;
            }
        }
        .slick-dots li.slick-active button {
            background: rgba(255, 255, 255, 0);
            border-color: #ffffff;
        }
        .slick-dots {
            bottom: 6% !important;
        } 
    }
    
}

@media (max-width: 768px) {
    .lookbook-page {
        .wrapper-content {
            .item-lookbook .popup-lookbook {
                top: 7% !important;
                left: 48.8% !important;
                max-width: 150px;
                .button {
                   min-width: 100px;
                }
            }
        }
    } 
}

@media (max-width: 767px) {  
    .lookbook-page {
        .wrapper-content {
            .item-lookbook {
                .image-mobile {
                    display: block;
                }
                .image-desktop {
                    display: none;
                }
                .popup-lookbook {
                    flex-direction: row;
                    top:40% !important;
                    left:10% !important;
                    width: 100%;
                    max-width: 60%;
                    .icon-close-popup{
                        top: -14px;
                        right: -12px;
                        background: #232323;
                        width: 25px;
                        height: 25px;
                        svg {
                            width: 12px;
                            height: 12px;
                            fill: #ffffff;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        } 
                    } 
                    .button {
                        display: none;
                    }
                    .pupop-top {
                        background-color: #ffffff;
                        width: 100%;
                        max-width: 110px;
                    }
                    .popup-button {
                        .content-popup {
                            padding: 20px;
                            .price {
                                padding: 12px 0 4px 0;
                            }
                        }
                    }
                    
                }
            }
            
        }
        .text-blocks .list-social ul {
            margin: 0;
            padding: 15px 0px 17px;
        } 
        .list-social .list-social__item {
            margin: 0;
        }
    }
}