.portfolio-page .banner {
  position: relative;
}
.portfolio-page .banner .content {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 22;
  margin-top: 18px;
  transform: translate(-50%, -50%);
  color: #ffffff;
  fill: #ffffff;
}
.portfolio-page .banner .content .breadcrumb {
  color: #ffffff;
  fill: #ffffff;
  justify-content: center;
}
.portfolio-page .banner .content .link, .portfolio-page .banner .content svg {
  color: #ffffff;
  fill: #ffffff;
}
.portfolio-page .banner .content .title {
  font-size: 24px;
  letter-spacing: 0.05em;
}
.portfolio-page .container-filter #buttonGroup {
  display: flex;
  padding: 10px 0 9px 0;
  justify-content: center;
  background: #fafafa;
}
.portfolio-page .container-filter #buttonGroup li {
  padding-left: 50px;
}
.portfolio-page .container-filter #buttonGroup li a {
  font-size: 12px;
  letter-spacing: 0.02em;
  color: #3c3c3c;
}
.portfolio-page .container-filter #buttonGroup li:hover {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  transition: -webkit-text-decoration 100ms ease;
  transition: text-decoration 100ms ease;
  transition: text-decoration 100ms ease, -webkit-text-decoration 100ms ease;
}
.portfolio-page .container-filter #buttonGroup li:nth-child(1) {
  padding-left: 0;
}
.portfolio-page .grid {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.portfolio-page .grid:after {
  content: "";
  display: block;
  clear: both;
}
.portfolio-page .grid .grid-item {
  width: 33%;
  padding: 15px;
  position: relative;
  float: left;
}
.portfolio-page .grid .grid-item:hover {
  cursor: pointer;
  opacity: 1;
}
.portfolio-page .grid .grid-item:hover .icon {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.portfolio-page .grid .grid-item:hover .content {
  opacity: 1;
  background-color: #232323;
}
.portfolio-page .grid .grid-item img {
  width: 100%;
  height: 100%;
  display: block;
}
.portfolio-page .grid .grid-item .icon {
  width: 60px;
  height: 60px;
  background-color: #232323;
  stroke: transparent;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 15px));
  padding: 20px;
  opacity: 0;
  visibility: visible;
  pointer-events: none;
  transition: all ease 0.6s;
  display: grid;
  place-items: center;
  z-index: 5;
}
.portfolio-page .grid .grid-item .icon svg {
  fill: #ffffff;
  stroke: #ffffff;
  width: 100%;
  height: 100%;
}
.portfolio-page .grid .grid-item .content {
  position: absolute;
  top: auto;
  left: 50%;
  bottom: 15px;
  width: calc(100% - 30px);
  min-height: 148px;
  transform: translateX(-50%);
  opacity: 1;
  transition: all ease 0.6s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  padding: 20px -15px;
}
.portfolio-page .grid .grid-item .content .desc {
  color: #ffffff;
}
.portfolio-page .text-portfolio {
  width: 100%;
}
.portfolio-page .text-portfolio .desc {
  max-width: 465px;
  text-align: center;
  margin: 0 auto;
  padding: 30px 0 40px 0;
}
.portfolio-page .button-portfolio {
  text-align: center;
}
.portfolio-page .button-portfolio .button-2 {
  width: 290px;
  margin-top: 45px;
}

@media (max-width: 1024px) {
  .portfolio-page .container-filter #buttonGroup {
    flex-wrap: wrap;
  }
  .portfolio-page .container-filter #buttonGroup li:nth-child(1) {
    padding-left: 30px;
  }
  .portfolio-page .container-filter #buttonGroup li {
    text-align: center;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 1px;
    padding: 2px 30px;
    margin: 5px 10px 10px;
    width: auto;
  }
  .portfolio-page .grid {
    gap: 0;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  .portfolio-page .grid .grid-item {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .portfolio-page .img-box .image {
    padding-bottom: 30% !important;
  }
  .portfolio-page .container-filter #buttonGroup li {
    border-radius: 2px;
    margin: 5px 5px 5px;
    width: auto;
  }
  .portfolio-page .grid {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .portfolio-page .grid .grid-item {
    width: 100%;
    padding: 7px;
  }
  .portfolio-page .text-portfolio .desc {
    max-width: 465px;
    text-align: center;
    margin: 0 auto;
    padding: 10px 0 20px 0;
  }
  .portfolio-page .container {
    padding: 0 5px;
  }
}/*# sourceMappingURL=portfolio.css.map */