portfolio-item {
  display: block;
}

.portfolio-header {
  position: relative;
  background-image: url(../../images/Pages/portfolio/Banner-Portfolio-1.png);
  background-size: cover;
  background-repeat: repeat-x;
  background-position: center top;
  height: 270px;
  background-attachment: fixed;
}
.portfolio-header .breadcrumb {
  justify-content: center;
  color: #ffffff;
  padding: 18px 0px 0px;
  margin: 0;
}
.portfolio-header .breadcrumb .separate svg {
  color: #ffffff;
  fill: #ffffff;
}
.portfolio-header .breadcrumb a {
  color: #ffffff;
}
.portfolio-header .page-heading .page-title {
  display: block;
  font-size: 24px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #ffffff;
  position: relative;
  padding: 50px 0 17px;
  margin: 0;
}
.portfolio-header .page-heading .desc {
  margin-top: 5px;
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}

.portfolio-tabs .tabs {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 10px;
  background-color: #fafafa;
}
.portfolio-tabs .tabs .tab {
  position: relative;
  padding: 0px 25px;
}
.portfolio-tabs .tabs .tab .tab-title {
  color: #232323;
  font-weight: 500;
  transition: color 0.35s ease-in-out;
}
.portfolio-tabs .tabs .tab.is-active .tab-title span {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

.tabs-contents .masonry-row {
  margin-left: -5px;
  margin-right: -5px;
  font-size: 0;
  letter-spacing: 0;
}
.tabs-contents .masonry-item {
  padding: 5px;
  display: inline-block;
  vertical-align: top;
}
.tabs-contents .masonry-item .item {
  position: relative;
}
.tabs-contents .masonry-item .item .icon {
  width: 60px;
  height: 60px;
  background-color: #232323;
  stroke: transparent;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 10px));
  padding: 18px;
  transition: all ease 0.7s;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.tabs-contents .masonry-item .item .icon svg {
  width: 100%;
  height: 100%;
  fill: #ffffff;
}
.tabs-contents .masonry-item .item .content-box {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 146px;
  width: 100%;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  flex-direction: column;
  gap: 7px;
}
.tabs-contents .masonry-item .item .content-box .title {
  display: block;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0 0 2px;
}
.tabs-contents .masonry-item .item .content-box .desc {
  color: #ffffff;
}
.tabs-contents .masonry-item .item .content-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  opacity: 0.9;
  z-index: -1;
  transition: background-color 0.5s ease-in-out;
}
.tabs-contents .masonry-item .item:hover .icon {
  z-index: 5;
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%);
}
.tabs-contents .masonry-item .item:hover .content-box::after {
  background: #232323;
}
.tabs-contents .portfolio-showmore-btn {
  padding: 23px 15px 23px;
  text-align: center;
}
.tabs-contents .portfolio-showmore-btn .button {
  width: 100%;
  max-width: 290px;
}

@media (min-width: 768px) {
  .portfolio-tabs .tabs {
    justify-content: center;
  }

  .tabs-contents .masonry-row {
    margin-left: -10px;
    margin-right: -10px;
  }
  .tabs-contents .masonry-row.column-3 .masonry-item {
    width: 50%;
    padding: 10px;
  }
  .tabs-contents .masonry-row.column-2 .masonry-item {
    width: 50%;
    padding: 15px;
  }
}
@media (min-width: 1025px) {
  .tabs-contents .masonry-row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .tabs-contents .masonry-row.column-3 .masonry-item {
    width: 33.33333333%;
    padding: 15px;
  }
  .tabs-contents .masonry-row.column-2 .masonry-item {
    width: 50%;
    padding: 15px;
  }
}/*# sourceMappingURL=portfolio.css.map */