.portfolio-page {
    .banner {
        .banner-top {
            position: relative;
            
            .content {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 2;
                .breadcrumb {
                    color: #ffffff;
                    justify-content: center;
                }
                .link, svg
                {
                    color: #ffffff;
                    fill: #ffffff;
                }
                .title {
                    font-weight: bold;
                    font-size:24px;
                    letter-spacing:.05em;
                    color: #ffffff;
                }
            }
        }
        .banner-bottom {
           .filter-list {
               display:flex;
               justify-content:center;
               padding: 11px 0;
               background-color: #fafafa;
               li {
                   padding-left:50px;
                   &:nth-child(1) {
                       padding-left: 0;
                   }
                   a {
                       font-size:12px;
                       font-weight:400;
                       letter-spacing:.02em;
                       color: #3c3c3c;
                   }
               }
           } 
        }
    }
    

    
}