@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.skin-10{
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    color: #202020;
    h1, h2, h3, h4, h5, .h0, .h1, .h2, .h3, .h4, .h5,.card-price{
        font-family: 'Rubik', sans-serif;
        font-weight: 700;
        letter-spacing: 0;
    }
    .link{
        color: #051c42;
        letter-spacing: 0;
    }
    .desc{
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0;
        color: #202020;
    }
    .link-underline:hover .text,
    .text-underline .text {
        text-underline-offset: 0.3rem;
    }
    .button{
        padding: 12px 15px 14px;
        letter-spacing: 0;
        text-transform: capitalize;
        border-radius: 30px;
        min-width: 166px;
        font-size: 16px;
        &.button-1{
            background: #ffffff;
            border-color: #202020;
            color: #202020;
            &:hover{
                background: #0a6cdc;
                border-color: #0a6cdc;
                color: #ffffff;
            }
        }
        &.button-2{
            background: #161880;
            border-color: #161880;
            color: #ffffff;
            &:hover{
                background: #ffffff;
                border-color: #202020;
                color: #202020;
            }
        }
    }
    .slick-arrow{
        border-color: #505050;
        border-width: 2px;
        padding: 7px !important;
        width: 36px;
        height: 36px;
        &.slick-prev{
            left: 0;
        }
        &.slick-next{
            right: 0;
        }
        svg{
            fill: #505050;
            top: -5px;
        }
        &:hover{
            background: #ffffff;
            border-color: #051c42;
            svg{
                fill: #051c42;
            }
        }
    }
    .slick-dots{
        margin-top: 25px;
        position: absolute;
        bottom: -50px;
        li{
            button{
                border-color: #cecece;
                width: 10px;
                height: 10px;
                background: #cecece;
            }
            &.slick-active {
                button{
                    background: #0064e4;
                    border-color: #0064e4;
                }
            }
        }
    } 
    .halo-row-item{
        .img-box{
            border-radius: 6px;
            overflow: hidden;
        }
    }
    .halo-block-header{
        position: relative;
        .title{
            font-size: 30px;
            font-weight: 700;
            letter-spacing: 0;
            color: #202020;
            span{
                width: auto;
                background: transparent;
                padding: 0;
            }
            &::before{
                display: none;
            }
            
        }
        .view_all{
            font-size: 14px;
            color: #202020;
            letter-spacing: 0;
            font-weight: 500;
        }
        &.text-center{
            .title{
                font-size: 20px;
            }
            .view_all{
                bottom: -10px;
            } 
        }
    }
    .product-card{
        .card-product__group{
            .card-icon{
                background: #f5f5f5;
                .text{
                    font-size: 14px;
                    letter-spacing: 0;
                    color: #202020;
                    background: #f5f5f5;
                }
            } 
        } 
        .product-card-bottom{
            padding: 15px 0px 15px;
        }
        .card-title{
            display: inline;
            font-size: 16px;
            line-height: 24px;
            color:#202020;
            letter-spacing: 0;
        }
        .card-vendor-title{
            line-height: 24px;
            padding: 6px 0px 11px;
            a{
                display: inline;
                font-size: 16px;
                line-height: 24px;
                color:#202020;
                letter-spacing: 0;
                &.card-vendor{
                    font-weight: 600;
                }
            }
        }
        .card-price{
            justify-content: flex-start;
            padding-bottom: 2px;
            .price-item{
                .text{
                    color: #505050;
                    position: relative;
                    top: 2px;
                    font-size: 14px;
                    font-weight: 400;
                }
                .money{
                    font-size: 16px;
                    font-weight: 700;
                    letter-spacing: 0;
                    color:#202020;
                }
            }
            &.price__sale{
                .price-item--regular{
                    span{
                        color: #505050;
                        font-weight: 400;
                        padding-left: 5px;
                    }
                }
                .price__last{
                    span{
                        color: #e10600;
                        font-weight: 700;
                    }
                }
            }
        }
        .card-action{
            position: relative;
            z-index: 10;
            opacity: 1;
            visibility: visible;
            bottom: 0;
            display: flex;
            justify-content: space-between;
            margin-top: 12px;
            form{
                width: 100%;
                .button{
                    width: 100%;
                    border-color: #202020;
                    color: #202020;
                    padding: 9px 15px 9px;
                }
            }
            .wishlist-icon{
                width: 40px;
                height: 40px;
                min-width: 40px;
                border-radius: 50%;
                background: #f5f5f5;
                position: relative;
                display: none;
                svg{
                    fill: #202020;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
                &.wishlist-added{
                    background: #ffe5e5;
                }
                &:hover{
                    background: #ffe5e5;
                }
            }
        }
    }
    .card__badge{
        top: 0;
            .badge{
                font-size: 14px;
                letter-spacing: 0;
                padding: 5px 16px;
                border-radius: 3px;
                &.sale-badge{
                    background: #ffd8d7;
                    color: #e10600;
                }
                &.sold-out-badge{
                    background: #f5f5f5;
                    color: #666666;
                }
                &.custom-badge{
                    background: #feedbd;
                    color: #fd9427;
                }
                &.bundle-badge{
                    background: #d7ffd2;
                    color: #43b200;
                }
            }
        &.badge-left{
            left: 0;
        }
        &.badge-right{
            right: 0;
        }
    }
    .productView-rating{
        .spr-icon{
            &.spr-icon-star{
                &::before{
                    color: #ffc50d;
                }
            }
            &.spr-icon-star-empty{
                &::before{
                    color: #f0f0f0;
                }
            }
        }
        .count-review{
            font-size: 12px;
            color:#878787;
            padding-left: 3px;
            position: relative;
            top: -2px;
        }
    }
}

@media(min-width:768px){
    .skin-10{
        .halo-block-header {
            margin-bottom: 35px;
            .view_all{
                position: absolute;
                right: 0;
                bottom: -13px;
                z-index: 9;
                &:hover{
                    color: #0a6cdc;
                }
            }
        }
    }
}

@media(min-width:1025px){
    .skin-10{
        .product-card{
            .card-vendor-title{
                &:hover{
                    text-decoration: underline;
                    text-underline-offset: 0.3rem;
                    a{
                        color: #0a6cdc;
                    }
                }
            }
            .card-action{
                .button{
                    width: calc(100% - 50px)!important;
                    &:hover{
                        background: #0a6cdc;
                        color: #ffffff;
                        border-color: #0a6cdc;
                    }
                }
                .wishlist-icon{
                    width: 0;
                    min-width: 0;
                    opacity: 0;
                    visibility: hidden;
                    display: block;
                }
            }
            &:hover{
                .card-action{
                    .button{
                        width: calc(100% - 10px)!important;
                    }
                    .wishlist-icon{
                        width: 40px;
                        min-width: 40px;
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
}


@media(min-width:1600px){
    .skin-10{
        .slick-arrow{
            &.slick-prev{
                left: -67px;
            }
            &.slick-next{
                right: -67px;
            }
        }
        .slick-dots{
            bottom: -52px;
        }
    }
}